<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container" align="center">
    	<h1 style="font-size:36px;font-style: normal;font-weight: 600;font-family:source-sans-pro;"> Hello, {{name}} !!! </h1>
        <h2 style="margin: auto; padding-top:10%"><a href="{{game}}">Click here to start new game</a></h2>
        <img src="static/smiley.jpg" alt="Error displaying Picture">
    </div>
    <footer style="padding-top:325px">
        <p style="font-size: 12px;">&nbsp;Copyright &copy; Khoa Phan & Hoang Dang</p>
    </footer>
</body>
</html>